# Лабораторная работа 4
- Выполнил: **Савчук Д.И.**
- Группа: **М8О-103М-20**
- Дата сдачи: **14.11.20**

1. Импортировать модули **sys, numpy, pandas**

In [1]:
import sys
import numpy as np
import pandas as pd

2. Создать объект pandas **Series** из листа, объекта NumPy, и словаря

In [2]:
l = [1, 2, 3, 4, 5]
v = np.arange(1, 6)
d = {'one': 1, 'two': 2, 'three': 3}
print('l = {}\nv = {}\nd = {}\n'.format(l, v, d))

obj_1 = pd.Series(l)
obj_2 = pd.Series(v)
obj_3 = pd.Series(d)

print(f'Series of l:\n{obj_1}\n\nSeries of v:\n{obj_2}\n\nSeries of d:\n{obj_3}')

l = [1, 2, 3, 4, 5]
v = [1 2 3 4 5]
d = {'one': 1, 'two': 2, 'three': 3}

Series of l:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series of v:
0    1
1    2
2    3
3    4
4    5
dtype: int32

Series of d:
one      1
two      2
three    3
dtype: int64

3. Преобразовать объект **Series** в **DataFrame**:
- создать объект Series

In [3]:
d_1 = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj_1 = pd.Series(d_1)
print(obj_1)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

- преобразовать в DataFrame

In [4]:
frame = pd.DataFrame(obj_1)
print(frame)

            0
Ohio    35000
Texas   71000
Oregon  16000
Utah     5000

- объединить несколько объектов Series в Dataframe

In [5]:
d_2 = {'Nevada': 37000, 'California': 99000}
obj_2 = pd.Series(d_2)

frame = pd.concat((obj_1, obj_2), axis=0)
print(frame)

Ohio          35000
Texas         71000
Oregon        16000
Utah           5000
Nevada        37000
California    99000
dtype: int64

4. Присвоить имя индексу объекта **Series**

In [6]:
obj = pd.Series({'a': 1, 'b': 2, 'c': 3})
print(obj)

obj.name = 'name1'
print(obj)

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
Name: name1, dtype: int64

5. Получить элементы объекта **Series A**, которых нет в объекте **Series B**

In [7]:
Series_A = pd.Series([4, 7, -5, 3])
Series_B = pd.Series([1, 2, 3, 4])

- возвратить вместе с индексами

In [8]:
res = Series_A[~Series_A.isin(Series_B)]
print(res)

1    7
2   -5
dtype: int64

- возвратить значения

In [9]:
res_2 = np.setdiff1d(Series_A, Series_B)
print(res_2)

[-5  7]

6. Получить не пересекающиеся элементы в двух объектах **Series**

In [10]:
Series_A = pd.Series([4, 7, -5, 3])
Series_B = pd.Series([1, 2, 3, 4])

- возвратить вместе с индексами

In [11]:
res = pd.concat((Series_A[~Series_A.isin(Series_B)], Series_B[~Series_B.isin(Series_A)]), axis=0)
print(res)

1    7
2   -5
0    1
1    2
dtype: int64

- получить объединенный **Series** без повтороений

In [12]:
res_2 = pd.Series(np.union1d(Series_A, Series_B))
print(res_2)

0   -5
1    1
2    2
3    3
4    4
5    7
dtype: int64

- получить пересекающиеся данные

In [13]:
res_3 = pd.Series(np.intersect1d(Series_A, Series_B))
print(res_3)

0    3
1    4
dtype: int64

- отобрать все данные, кроме пересекающихся

In [14]:
res_4 = res_2[~res_2.isin(res_3)]
print(res_4)

0   -5
1    1
2    2
5    7
dtype: int64

- возвратить значения

In [15]:
res_5 = np.setxor1d(Series_A, Series_B)
 
print(res_5)

[-5  1  2  7]