# Лабораторная работа 5. Pandas
- Выполнил: **Савчук Д.И.**
- Группа: **М8О-103М-20**
- Дата сдачи: **28.11.20**
___
**Москва, 2020**

In [1]:
import sys
import numpy as np
import pandas as pd

1. Получить от объекта **Series** показатели описательной статистики

In [2]:
s = pd.Series(np.arange(25))

print(s.describe())

count    25.000000
mean     12.000000
std       7.359801
min       0.000000
25%       6.000000
50%      12.000000
75%      18.000000
max      24.000000
dtype: float64

2. Узнать частоту уникальных элементов объекта **Series** (гистограмма)

In [3]:
s = np.random.randint(3, size=(10))
s = pd.Series(s)
 
print(s.value_counts())

1    4
2    3
0    3
dtype: int64

3. Заменить все элементы объекта **Series** на "Other", кроме двух наиболее часто встречающихся

In [4]:
s = np.random.randint(5, size=(10))
s = pd.Series(s)
print(s.value_counts())
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

3    3
1    3
4    2
2    2
dtype: int64
0    Other
1        3
2        3
3        1
4    Other
5        3
6    Other
7    Other
8        1
9        1
dtype: object

4. Создать объект **Series** в индексах дата каждый день 2019 года, в значениях случайное значение

In [5]:
dti = pd.date_range(start='2019-01-01', end='2019-12-31') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2019-01-01    0.555606
2019-01-02    0.760949
2019-01-03    0.982957
2019-01-04    0.642002
2019-01-05    0.659553
                ...
2019-12-27    0.621908
2019-12-28    0.383377
2019-12-29    0.661990
2019-12-30    0.631400
2019-12-31    0.480085
Freq: D, Length: 365, dtype: float64

- Найти сумму всех вторников

In [6]:
ans = s[s.index.weekday == 1].sum()
print(ans)

23.130139724909

- Для каждого месяца найти среднее значение

In [7]:
ans = s.resample('M').mean()
print(ans)

2019-01-31    0.565121
2019-02-28    0.399846
2019-03-31    0.399362
2019-04-30    0.414164
2019-05-31    0.480544
2019-06-30    0.438898
2019-07-31    0.605984
2019-08-31    0.474262
2019-09-30    0.446459
2019-10-31    0.549013
2019-11-30    0.537884
2019-12-31    0.459113
Freq: M, dtype: float64

5. Преобразовать объект **Series** в **DataFrame** заданной формы (shape)

In [8]:
s = pd.Series(np.arange(9))
print(s)

df = pd.DataFrame(s.values.reshape(3, 3))
print(df)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int32
   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

6. Найти индексы объекта **Series** кратные **3**

In [9]:
s = pd.Series(np.random.randint(10, size=(10)))
print(s)
 
ans = s[s % 3 == 0].index
print(ans)

0    9
1    6
2    5
3    3
4    2
5    3
6    6
7    5
8    4
9    2
dtype: int32
Int64Index([0, 1, 3, 5, 6], dtype='int64')

7. Получить данные по индексам объекта **Series**

In [10]:
import string

s = pd.Series(list(string.ascii_lowercase))
idx = np.arange(len(s), step=4)
 
ans = s[idx]
print(ans)

0     a
4     e
8     i
12    m
16    q
20    u
24    y
dtype: object

8. Объединить два объекта **Series** вертикально и горизонтально

In [11]:
s1 = pd.Series(range(len(string.ascii_lowercase)))
s2 = pd.Series(list(string.ascii_lowercase))
 
ans_vertical = pd.concat((s1, s2), axis=0)
ans_horizontal = pd.concat((s1, s2), axis=1)
 
print(ans_vertical)
print(ans_horizontal)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
0      a
1      b
2      c
3      d
4      e
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
dtype: object
     0  1
0    0  a
1    1  b
2    2  c
3    3  d
4    4  e
5    5  f
6    6  g
7    7  h
8    8  i
9    9  j
10  10  k
11  11  l
12  12  m
13  13  n
14  14  o
15  15  p
16  16  q
17  17  r
18  18  s
19  19  t
20  20  u
21  21  v
22  22  w
23  23  x
24  24  y
25  25  z

9. Получить индексы объекта **Series A**, данные которых содержатся в объетке **Series B**

In [12]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 5, 4])
 
ans = np.sort(np.array([pd.Index(s1).get_loc(i) for i in s2]))
print(ans)

[0 3 4]

10. Получить объект **Series B**, который содержит элементы без повторений объекта **A**

In [13]:
s = pd.Series([1, 2, 3, 4, 5, 4, 3, 2, 1])
ans = pd.Series(s.unique())
print(ans)

0    1
1    2
2    3
3    4
4    5
dtype: int64

11. Преобразовать каждый символ объекта **Series** в верхний регистр

In [14]:
s = pd.Series(list(string.ascii_lowercase)[:6])
print(s)

ans = pd.Series(i.title() for i in s)
print(ans)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object
0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

12. Рассчитать количество символов в объекте **Series**

In [15]:
s = pd.Series(['first', 'second', 'third'])
print(s)

ans = np.array([len(i) for i in s])
print(ans)

0     first
1    second
2     third
dtype: object
[5 6 5]

13. Найти разность между объектом **Series** и смещением объекта **Series** на **n**

In [16]:
n = 1
s = pd.Series([1, 1, 2, 3, 5, 8, 13, 21])
 
ans = s.diff(periods=n)
print(ans)

0    NaN
1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
6    5.0
7    8.0
dtype: float64

14. Преобразовать разыне форматы строк объекта **Series** в дату

In [17]:
s = pd.Series(['2020-01-01', '2021/12/30', '12 Jun 2012'])
 
ans = pd.to_datetime(s)
print(ans)

0   2020-01-01
1   2021-12-30
2   2012-06-12
dtype: datetime64[ns]

15. Получить год, месяц, день, день недели, номер дня в году от объекта **Series** (string)

In [18]:
 s = pd.Series(['01 Jun 2010', '12-12-2012', '20200808', '2022/04/04', '2019-12-31'])

- распарсить в дату и время

In [19]:
ans = pd.to_datetime(s)
print(ans)

0   2010-06-01
1   2012-12-12
2   2020-08-08
3   2022-04-04
4   2019-12-31
dtype: datetime64[ns]

- получить года

In [20]:
print(ans.dt.year)

0    2010
1    2012
2    2020
3    2022
4    2019
dtype: int64

- получить месяца

In [21]:
print(ans.dt.month)

0     6
1    12
2     8
3     4
4    12
dtype: int64

- получить дни

In [22]:
print(ans.dt.day)

0     1
1    12
2     8
3     4
4    31
dtype: int64

- получить номер недели

In [23]:
print(ans.dt.isocalendar().week)

0    22
1    50
2    32
3    14
4     1
Name: week, dtype: UInt32

- получить номер дня в году

In [24]:
print(ans.dt.dayofyear)

0    152
1    347
2    221
3     94
4    365
dtype: int64

16. Отобрать элементы объекта **Series**, кторые содержат не менее двух гласных

In [25]:
lst, temp = [], []
count = 0

s = pd.Series(['Apple', 'Orange', 'White', 'Cat', 'Weather', 'Resistor', 'Sun'])
for i in s:
    lst.append(list(i.lower()))

for i in lst:
    count = 0
    for j in i:
        if j in list('aeiouy'):
            count += 1
    if count >= 2:
        temp.append(True)
    else:
        temp.append(False)

ans = s[temp]
print(ans)

0       Apple
1      Orange
2       White
4     Weather
5    Resistor
dtype: object

17. Отобрать e-маилы из объекта **Series**

In [26]:
import re
 
emails = pd.Series(['test @test.com', 'test@mail.ru', 'test@gmail.com', 'test@pp', 'test.gmail.com'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
temp = emails.map(lambda x: bool(re.match(pattern, x)))
ans = emails[temp]
print(ans)

1      test@mail.ru
2    test@gmail.com
dtype: object

18. Получить среднее значение каждого уникального объекта **Series s1** через "маску" другого объекта **Series s2**

In [32]:
s1 = pd.Series(np.random.choice(['one', 'two', 'three', 'four', 'five'], 10))
print(s1)
s2 = pd.Series(np.arange(1,11))
print(s2)
ans = s2.groupby(s1).mean()
print(pd.Series(s2.groupby(s1)))
print(ans)

0    three
1     five
2      two
3    three
4    three
5      one
6     four
7      one
8      one
9     five
dtype: object
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32
0       (five, [2, 10])
1           (four, [7])
2      (one, [6, 8, 9])
3    (three, [1, 4, 5])
4            (two, [3])
dtype: object
five     6.000000
four     7.000000
one      7.666667
three    3.333333
two      3.000000
dtype: float64